.container > p > a {
    color: rgb(163, 187, 208) !important;
    border: 1px solid #f0f0f0;
    margin-right: .5em;
}
.container > p > a:hover {
    color: rgb(251, 255, 184) !important;
    border: 1px solid #ff9f9f;
}
.container > p > a:active {
    color: rgb(255, 225, 0) !important;
}